.stack {
  position: relative;
  width: 100%;
}
.card {
  position: relative;
  width: 100%;
  height: fit-content;
  top: 0; left: 0;
  transition: transform 200ms;
}
.card:nth-last-child(n + 4) {
  display: none;
}
.card:nth-last-child(3) {
  position: absolute;
  filter: brightness(0.5);
  transform: translateY(30px) scale(0.90);
}
.card:nth-last-child(2) {
  position: absolute;
  filter: brightness(0.75);
  transform: translateY(15px) scale(0.95);
}