@font-face {
    font-family: 'Druk';
    src: url('/fonts/druk/DrukCyr-Bold.eot');
    src: local('/fonts/druk/Druk Cyr Bold'), local('/fonts/druk/DrukCyr-Bold'),
    url('/fonts/druk/DrukCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/druk/DrukCyr-Bold.woff2') format('woff2'),
    url('/fonts/druk/DrukCyr-Bold.woff') format('woff'),
    url('/fonts/druk/DrukCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Druk';
    src: url('/fonts/druk/DrukCyr-Heavy.eot');
    src: local('/fonts/druk/Druk Cyr Heavy'), local('/fonts/druk/DrukCyr-Heavy'),
    url('/fonts/druk/DrukCyr-Heavy.eot?#iefix') format('embedded-opentype'),
    url('/fonts/druk/DrukCyr-Heavy.woff2') format('woff2'),
    url('/fonts/druk/DrukCyr-Heavy.woff') format('woff'),
    url('/fonts/druk/DrukCyr-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Druk';
    src: url('/fonts/druk/DrukCyr-HeavyItalic.eot');
    src: local('/fonts/druk/Druk Cyr Heavy Italic'), local('/fonts/druk/DrukCyr-HeavyItalic'),
    url('/fonts/druk/DrukCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/druk/DrukCyr-HeavyItalic.woff2') format('woff2'),
    url('/fonts/druk/DrukCyr-HeavyItalic.woff') format('woff'),
    url('/fonts/druk/DrukCyr-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Druk';
    src: url('/fonts/druk/DrukCyr-MediumItalic.eot');
    src: local('/fonts/druk/Druk Cyr Medium Italic'), local('/fonts/druk/DrukCyr-MediumItalic'),
    url('/fonts/druk/DrukCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/druk/DrukCyr-MediumItalic.woff2') format('woff2'),
    url('/fonts/druk/DrukCyr-MediumItalic.woff') format('woff'),
    url('/fonts/druk/DrukCyr-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Druk Super';
    src: url('/fonts/druk/DrukCyr-SuperItalic.eot');
    src: local('/fonts/druk/Druk Cyr Super Italic'), local('/fonts/druk/DrukCyr-SuperItalic'),
    url('/fonts/druk/DrukCyr-SuperItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/druk/DrukCyr-SuperItalic.woff2') format('woff2'),
    url('/fonts/druk/DrukCyr-SuperItalic.woff') format('woff'),
    url('/fonts/druk/DrukCyr-SuperItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Druk Super';
    src: url('/fonts/druk/DrukCyr-Super.eot');
    src: local('/fonts/druk/Druk Cyr Super'), local('/fonts/druk/DrukCyr-Super'),
    url('/fonts/druk/DrukCyr-Super.eot?#iefix') format('embedded-opentype'),
    url('/fonts/druk/DrukCyr-Super.woff2') format('woff2'),
    url('/fonts/druk/DrukCyr-Super.woff') format('woff'),
    url('/fonts/druk/DrukCyr-Super.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Druk';
    src: url('/fonts/druk/DrukCyr-Medium.eot');
    src: local('/fonts/druk/Druk Cyr Medium'), local('/fonts/druk/DrukCyr-Medium'),
    url('/fonts/druk/DrukCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/druk/DrukCyr-Medium.woff2') format('woff2'),
    url('/fonts/druk/DrukCyr-Medium.woff') format('woff'),
    url('/fonts/druk/DrukCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Druk';
    src: url('/fonts/druk/DrukCyr-BoldItalic.eot');
    src: local('/fonts/druk/Druk Cyr Bold Italic'), local('/fonts/druk/DrukCyr-BoldItalic'),
    url('/fonts/druk/DrukCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/druk/DrukCyr-BoldItalic.woff2') format('woff2'),
    url('/fonts/druk/DrukCyr-BoldItalic.woff') format('woff'),
    url('/fonts/druk/DrukCyr-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

