@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Inter', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Druk Text Wide Cyr', sans-serif;
  }

  main {
    @apply overflow-x-hidden
  }

  a.button {
    @apply py-2.5 px-4 rounded-md flex flex-row justify-center items-center gap-1
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}